@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,300;0,500;1,600&family=Montserrat:ital,wght@0,100;0,300;0,500;1,200;1,400&family=Orbitron:wght@400;500;600;700;800;900&family=Roboto+Slab:wght@100;300;500&family=Roboto:wght@100;300;400;500;700;900&family=Tangerine:wght@700&display=swap');


  :root {
    --sidebar-blue: rgba(25, 146, 212, 1);
    --background-grey: rgba(226,232,240,1);
    --transition-time: 200ms;
    --white: #fffbfb;
    --grey: #f0eef1;
    --black: #050505;
    --red: #ff7070;
    --light-green: #9fff9c;
    --light-red: #ff9c9c;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
html {
    height: 100%;
}

.content {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    border: 1px solid black;
    background: rgba(255,255,255,0.8);
}

.header-nav {
    border-bottom: 1px solid black;
    background-color: black;
    color: black;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    padding: 0px 20%;
    justify-content: space-evenly;
    align-items: center;
}
.header-nav .text {
    font-size: 3.7rem;
    position: absolute;
    left: 3%;
    top: 0.1%;
    color: white;  
    font-family: 'Tangerine', sans-serif;
    font-weight: 600;
    font-style: italic;
}

.header-nav button {
    font-size: 1.2rem;
    height: 100%;
    border: 1px solid black;
    border-top: none;
    border-bottom: none;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    padding: 1% 4%;
    margin-bottom: 1%;
    background-color: rgba(255, 255, 255, 0.692);
    transition: all 200ms ease-in-out;
}

.header-nav button:hover {
    cursor:pointer;
    border-top: none;
    border-bottom: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

.home {
    width: 90%;
    height: 80%;
    margin: 2% 5%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgba(140, 27, 45,0.7);
    display: grid;
    grid-template-columns: 60% 40%;
}

.home .right {
    grid-column: 2;
    background-image: url('./images/homeSteak.jpg');
    background-position: center;
    background-repeat: none;
    background-size: 100%;

}

.home .left {

    border: 0.3px solid black;
    border-right: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10% 0%;
}
.home .left > * {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    font-style: italic;
}

.home .left span:last-child {
    font-family: 'Tangerine',sans-serif;
    font-size: 5rem;
    margin-bottom: -5%;
    margin-left: -8%;
}